## https://editorconfig.org/

## No need to search for more EditorConfig files.
root = true

[*]
## File format:
charset = utf-8
end_of_line = lf
## Indentation format:
indent_style = tab
## Other format preferences:
trim_trailing_whitespace = true
insert_final_newline = true

